{% extends "app/base.html" %}

{% load static%}
{% block title %}Inicio{% endblock  %}


{% block banner_slider %}
    <center>
        <h1>ejemplo</h1>
        <h1>ejemplo</h1>
        <h1>ejemplo</h1>
        <h1>ejemplo</h1>
        <h1>ejemplo</h1>
        <h1>ejemplo</h1>
        <h1>ejemplo</h1>
        <h1>ejemplo</h1>
        <h1>ejemplo</h1>
    </center>
{% endblock banner_slider %}


{% block informacion %}
<br><br><br>
    <div class="container">
        <div class="row text-center p-5 text-black border border-dark rounded shadow " id="bg-success">
            <h1>Productos</h1>
            <small class="fs-5">
                Nuestros productos

                En nuestra tienda en línea, ofrecemos una amplia variedad de productos de tecnología de última generación. A continuación, te presentamos algunos de nuestros productos más populares:<br>

                Teléfonos móviles: contamos con una amplia variedad de teléfonos móviles de las marcas más reconocidas del mercado, como Apple, Samsung, Huawei y Xiaomi. Ofrecemos desde modelos de gama alta hasta opciones más asequibles, para que puedas elegir el que mejor se adapte a tus necesidades y presupuesto.<br>

                Laptops: si estás buscando una laptop para trabajar, estudiar o para uso personal, tenemos opciones para todos los gustos. Contamos con laptops de marcas reconocidas como Lenovo, HP, Dell y Asus, con diferentes tamaños de pantalla, procesadores y capacidades de almacenamiento.<br>

                Dispositivos de realidad virtual: si eres un fanático de los videojuegos o te interesa la tecnología de realidad virtual, tenemos los dispositivos que necesitas para vivir una experiencia inmersiva. Ofrecemos opciones como el Oculus Quest 2, el HTC Vive Pro y el PlayStation VR.<br><br>
                No dudes en explorar nuestro catálogo completo de productos en nuestra tienda en línea. Si tienes alguna pregunta o necesitas asesoramiento para elegir el producto adecuado, no dudes en contactarnos. ¡Estamos aquí para ayudarte!
            </small>
        </div>
    </div><br><br>
{% endblock informacion  %}

{% block main-content %}

<div class="container" >
    <h2 class="text-center" style="font-size: 40px;">Productos Tecnologicos</h2>
    <br><br>
    <div class="row container">
        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
        data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6;
        animation-name: none;">
            <div class="goodnesssec buttermilk smbg">
                <a href="{% url 'categoria' 'tl' %}">
                    <div class="goodnessseccont text-center">
                        <img src="{% static 'app/images/iphone.png' %}" 
                        class="img-responsive center-block" alt="">
                        <p class="mlkpro">Iphone</p>
                    </div>
                </a>
            </div>
        </div>    
        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
        data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6;
        animation-name: none;">
            <div class="goodnesssec buttermilk curdbgpro">
                <a href="{% url 'categoria' 'tb' %}">
                    <div class="goodnessseccont text-center">
                        <img src="{% static 'app/images/lenovo.png' %}" 
                        class="img-responsive center-block" alt="">
                        <p class="mlkpro">Lenovo</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
        data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6;
        animation-name: none;">
            <div class="goodnesssec buttermilk smbg">
                <a href="{% url 'categoria' 'tb' %}">
                    <div class="goodnessseccont text-center">
                        <img src="{% static 'app/images/ipadd.png' %}" 
                        class="img-responsive center-block" alt="">
                        <p class="mlkpro">Ipad</p>
                    </div>
                </a>
            </div>
        </div>


        </div>
        <br><br>
        <div class="row container">
            <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6;
            animation-name: none;">
                <div class="goodnesssec buttermilk smbg">
                    <a href="{% url 'categoria' 'lp' %}">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'app/images/laptopr.png' %}" 
                            class="img-responsive center-block" alt="laptop">
                            <p class="mlkpro">Laptop Asus</p>
                        </div>
                    </a>
                </div>
            </div>    
            <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6;
            animation-name: none;">
                <div class="goodnesssec buttermilk curdbgpro">
                    <a href="{% url 'categoria' 'md' %}">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'app/images/mando.png' %}" 
                            class="img-responsive center-block" alt="">
                            <p class="mlkpro">Mando</p>
                        </div>
                    </a>
                </div>
            </div>
    
            <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
            data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6;
            animation-name: none;">
                <div class="goodnesssec buttermilk smbg">
                    <a href="{% url 'categoria' 'cs' %}">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'app/images/consola.png' %}" 
                            class="img-responsive center-block" alt="">
                            <p class="mlkpro">Consola-Ps5</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        


    </div>
    

</div>
<br><br><br><br>

    

{% endblock main-content %}