{% extends "app/base.html" %}
{% load static%}
{% block title %}Login{% endblock title %}

{% block main-content %}
<br>
    <div class="container">
        <div class="row my-3">
            <div class ="col-sm-6 offset-sm-3">
                
                
                <form action="" method = "post" novalidate class="shadow p-5 border border-dark ">
                    <h3 id="ini">Inicio de Sesion</h3><br>
                    {% csrf_token %}
                    {% for fm in form %}
                        {{fm.label_tag}} {{fm}} <small class="text-dark"> {{fm.errors|striptags}}</smal1> 
                    {% endfor %}
                    
                    <div class="d-grid gap-2">
                        <input type="submit" class="btn btn-success mt-5  " value="Iniciar Seccion">
                    </div>
                    <br>
                    <div class="text-center text-primary">
                        <small><a href="{% url 'Registroclientes' %}" class="text-dark fs-5">Crear una cuenta</a> </small>
                    </div>
                    
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert- danger my-3">{{error}}</p>
                        {% endfor %}
                    {% endif %}

                </form>
            </div>
        </div>
    </div>   

{% endblock main-content %}