{% extends "app/base.html" %} {% load static%} 
{% block title %}Cambiar Contraseña{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Bienvenido{{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled ">
                <a href="{% url 'profile' %}"  class="btn btn-primary"> Cambio de contraseña realizado </a>
            </ul>
        </div>
        <div class=" col-sm-9 offset-sm-1 text-center">
            <h3> Contraseña cambiada exitosamente !!!</h3>
            <div>
                <iframe src="https://giphy.com/embed/tf9jjMcO77YzV4YPwE" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>




{% endblock main-content %}